{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="{% static 'jees.js' %}"></script>
    </script>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'AL.png' %}">
    <link rel="stylesheet" href="{% static 'stylenya.css' %}">
</head>

<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/status">Activity</a>
        <a href="/story7">Profile</a>
        <a href="/story8">Book List</a> {% if user.is_authenticated %}
        <a id="logot" href="story9/logout">Logout</a> {% endif %}
    </div>

    <!-- Use any element to open the sidenav -->

    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main">
        <span id="nav" style="font-size: 30px;cursor: pointer;" onclick="openNav()">&#9776;</span>
    </div>