{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Form Kabar</title>
</head>
{% include "base.html" %} {% if user.is_authenticated %}
<div id="center" class="center">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Bagaimana Kabarmu {{user.username}}?</h2>
                <form action="" method="POST">
                    {% csrf_token %} {{ form }}
                    <div class="gap">
                        <input id="submit" type="submit" class='btn btn-dark' value="Submit" name="inputan">
                    </div>
                </form>
            </div>
            <div class="col">
                <h2>Perasaanmu... </h2>
                {% if status %} {% for stat in status %}
                <div class="overflow-wrap word-break messages">
                    <tr>
                        <td class="overflow-wrap word-break" style="font-size: 20px"><strong> {{ stat.created_at }} </strong></td>

                    </tr>
                    <tr>
                        <td class="overflow-wrap word-break">{{ stat.text }} <br><br></td>
                    </tr>
                </div>
                {% endfor %} {% else %}
                <h5>Belum ada status..</h5>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% else %}
<div id="center" class="center">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Bagaimana Kabarmu?</h2>
                <form action="" method="POST">
                    {% csrf_token %} {{ form }}
                    <div class="gap">
                        <input id="submit" type="submit" class='btn btn-dark' value="Submit" name="inputan">
                    </div>
                </form>
            </div>
            <div class="col">
                <h2>Perasaanmu... </h2>
                {% if status %} {% for stat in status %}
                <div class="overflow-wrap word-break messages">
                    <tr>
                        <td class="overflow-wrap word-break" style="font-size: 20px"><strong> {{ stat.created_at }} </strong></td>

                    </tr>
                    <tr>
                        <td class="overflow-wrap word-break">{{ stat.text }} <br><br></td>
                    </tr>
                </div>
                {% endfor %} {% else %}
                <h5>Belum ada status..</h5>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}

</body>

</html>