{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Book List</title>
</head>

{% include "base.html" %}
<div class='container'>
    <h1 class='judul'>Book List</h1>
    <div class="input">
        <input type="text" id="input" placeholder="Search for books.." title="Type in a name">
        <button id="button-buku" name="button">Search</button>
    </div>
    <br>
    <div class="content">
        <table id="demo" class="table table-borderless table-dark">
            <thead>
                <tr>
                    <th scope="col" class="align-middle">No</th>
                    <th scope="col" class="align-middle">Cover</th>
                    <th scope="col" class="align-middle">Title</th>
                    <th scope="col" class="align-middle">Authors</th>
                    <th scope="col" class="align-middle">Publisher</th>
                    <th scope="col" class="align-middle">Published Date</th>
                </tr>
            </thead>
            <tbody id="konten"></tbody>
        </table>
    </div>
</div>
</body>

</html>