{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Profile</title>
</head>

{% include "base.html" %}
<div class="centerfoto">
    <div class="container">
    </div>
</div>
<div id="center" class="center">
    <div id="contain" class="container">
        <img style=" width: 200px; height: 200px; border-radius: 70%; border-image-width: 2%" src="{% static 'foto-baju-merah.png' %}">
        <h1 id="nama">Mohammed Al Kwarizmi</h1>
        <p>Programmer handal.</p>
        <div id="row-accord" class="row">
            <button id="accordion-1" class="accordion">Aktipitas</button>
            <div class="panel">
                <p>
                    Seperti mahasiswa pada umumnya
                </p>
                <li>Makan</li>
                <li>Tidur</li>
                <li>Nugas</li>
                <li>Rapat</li>
                <li>Beribadah</li>
            </div>

            <button id="accordion-2" class="accordion">Kesibukan</button>
            <div class="panel">
                <li>Compfest 11 - VPic Equipment and Security</li>
                <li>Bedah Kampus UI - Staff</li>
                <li>BEM Fasilkom UI - Staff</li>
            </div>

            <button id="accordion-3" class="accordion">Kemenangan</button>
            <div class="panel">
                <li>Juara 1 lomba masukin kerupuk ke botol dalam botol paku</li>
            </div>
        </div>

    </div>

</div>
<div id="center1" class="center1">
    <div class="container">
        <div class="row">
            <button id="button" type="button" class="btn btn-dark">
            CHANGE THEME
        </button>
        </div>
    </div>
</div>
</body>

</html>