{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="{% static 'jees.js' %}"></script>
    </script>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'AL.png' %}">
    <link rel="stylesheet" href="{% static 'stylenya.css' %}">
    <title>Login Page</title>
</head>

<body>

    {% if user.is_authenticated %}
    <div style="align-items: center; text-align: center;" id="center-login" class="center">
        <div class="container">
            <h1 class='judul'>Hay! {{user.username}}</h1>

            <div class="content">
                you are already logged in
            </div>
            <div style="padding-top:10%" class="centre-items tombol">
                <a class='btn btn-primary tombol' href="/status">Back</a>
            </div>
        </div>
    </div>
    {% else %}
    <div id="center-login" class="center">
        <div class="container">
            <h1 class='judul-story9'>Hello!</h1>

            <div style="text-align: center;">Please Login First :)</div>

            <div class='form-story9'>
                <form action="" method="POST">
                    {% csrf_token %} {{ form }}
                    <div class="centre-items tombol-story9-login">
                        <input type="submit" class="btn btn-primary" value="Login" id="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</body>


</html>