body {
    background-color: white;
}

#body-story8 {
    margin-top: 2%;
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    color: white;
}

#center {
    margin: auto;
    width: 60%;
    border: 3px solid black;
    color: black;
    padding: 10px;
}

#center-login {
    width: 60%;
    border: 3px solid black;
    color: black;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#center-logout {
    margin: auto;
    width: 60%;
}

#center1 {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.tombol-story9 {
    float: left;
    margin: 14px;
}

#nama {
    text-align: center;
    color: black;
}

#contain {
    text-align: center;
}

#nav {
    color: black;
}

.accordion {
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

li {
    text-align: left;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}


/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #f1f1f1;
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    padding: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.judul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: right;
    float: right;
    margin-right: 2%;
}

.content {
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.judul-story9 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-story9 {
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.content-story9 {
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.tombol-story9-login {
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
}